<div class="spacer"></div>
  <div class='container height'>

    <% if @blend.image.attached? %>
      <div class="row">
        <div class="card-columns">
          <% @blend.image.each do |image| %>
          <div class="card text-white bg-dark">
            <%= image_tag  image, class: "card-img" %>
            <div class="card-body">
              <%= link_to "Delete Image", delete_image_blend_path(image),
                                        class: "btn btn-danger",
                                        method: 'DELETE',
                                        data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
  <%= render  "shared/blendform", collection: @blend %>
</div>