<div class='container height'>
  <div class='spacer'></div>
  <div class='row height align-items-center justify-content-center'>
    <div class='col my-3 primary d-flex flex-column align-items-center justify-content-center'>
      <div class='row'>
        <h3>Your Reviews</h3>
      </div>

      <% if @reviews.empty? %>
        <div class='row'>
          <h5> You haven't created any reviews yet</h5>
        </div>
      <% else %>
        <%= render 'shared/reviews', collection: @pagy %>
      <% end %>
    </div>
  </div>
</div>