<h1>Users#reviewhistory</h1>

<% if @reviews.empty? %>
  <p> You haven't created any reviews yet</p>
<% else %>
  <% @reviews.each do |review| %>
    <%= review.blend.name %>
    <%= review.rating %>
    <%= review.descrip %>
    <%= review.created_at %>
  <% end %>
<% end %>
