<div class="row">  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Order</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |transact| %>
        <% if transact.paid %>
        <tr>
          <th scope="row"><%= transact.updated_at.to_date %></th>
          <td>-<%= transact.amount %></td>
          <td><%= link_to 'Order', order_path(transact.order), class: 'btn btn-info btn-sm' %></td>
        </tr>
        <% end %>
      <% end %>
    </tbhody>
  </table>
</div>